@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
}


.flex-container{
    flex-direction: column;
    align-items: center;
    display: flex; 
    width: 100%;
    height: 100vh;
}

.box-item{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.item1{
    background-image: url(../img/image-product-desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 375px;
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item2{
    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 4%;
    background-color: white;
    width: 375px;
    height: 500px;
}

.box-text-item2{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
p{
    font-size: 14px;
}

.h2-Preview{
    color: rgba(128, 128, 128, 0.473);
    letter-spacing: 3px;
    font-size: 14pt;
    font-family: 'Montserrat';
    margin-bottom: 15px;
   
}


.h1-Title{
   
    font-family: 'Fraunces';
    
}

.price{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-now{
    margin: 10px;
    color: rgb(0, 128, 0);
    letter-spacing: 2px;
    font-size: 35px;
    
}

.price-path{
    margin: 10px;
    color: rgba(96, 97, 96, 0.541);
    letter-spacing: 1px;
    font-size: 15px;
    text-decoration: line-through;
}

.botton{
    
    display:flex;
    justify-content:center;
}

.style-botton {
    color: rgba(255, 255, 255, 0.712);
    background-color:rgba(7, 78, 7, 0.774);
    width: 100%;
    border: inherit;
    height: 50px;
    border-radius: 10px;
    transition: ease-in-out 0.5s ;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-position: 100px;
}

.style-botton:hover{
    cursor: pointer;
   
    color: rgb(255, 255, 255);
    background-color:rgba(4, 36, 4, 0.87);
    
}


  
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    *{
      width: 100%;
    }
  }
